<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Hacker Store | Products</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/images/icon.jpeg" type="image/x-icon" class="rounded">
</head>
<header>
    <nav class="navbar navbar-expand-lg" id="navbar">
        <div class="container-fluid">
            <img src="/images/Logo.jpg" width="60" height="50" alt="">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars" style="color: #20C20E;"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item" id="nav-item">
                        <a class="nav-link active" aria-current="page" href="/home" style="color: #20C20E ;">Home</a>
                    </li>
                    <li class="nav-item" id="nav-item">
                        <a class="nav-link" href="/home/products" style="color: #20C20E;">Products</a>
                    </li>
                    <li class="nav-item" id="nav-item">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #20C20E;">
                          Profile
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown" id="dropdown-menu">
                          <li style="cursor: pointer;"><i class="fa fa-user" style="padding: 0; padding-right: 20px; padding-left: 20px; color: #20C20E;"></i><%= Username %></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" id="log" href="/logout"><center>Log out</center></a></li>
                        </ul>
                      </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<body>
    <div class="video-container">
        <video autoplay loop muted id="login" src="/videos/Bg3.mp4"></video>
    </div>
   
    
    <div class="container-fluid">          
        <table class="Table">
            <thead style="border: 1px solid white;">
                <tr >
                    <th class="Thead">SI.No</th>
                    <th class="Thead">Image</th> 
                    <th class="Thead">Name</th>
                    <th class="Thead">Category</th>
                    <th class="Thead">Specification</th>
                    <th class="Thead">Price</th>
                    <th class="Thead">Stock</th>
                </tr>
            </thead>
            <tbody class="Thead">
                <% products.forEach(function(product) { %>
                <tr>
                    <td class="Thead"><%= product.No %></td>
                    <td class="Thead"><img src="<%= product.Image %>" width="50px" alt=""></td>
                    <td class="Thead"><%= product.Name %></td>
                    <td class="Thead"><%= product.Category %></td>
                    <td class="Thead"><%= product.Specs %></td>
                    <td class="Thead"><%= product.Price %></td>
                    <td class="Thead"><%= product.Stock %></td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
    
      <script>
        let prevScrollPos = window.pageYOffset;
        let scrollThreshold = 10; // Adjust this threshold value

        window.onscroll = function() {
            let currentScrollPos = window.pageYOffset;

            if (prevScrollPos > currentScrollPos && prevScrollPos - currentScrollPos > scrollThreshold) {
                document.getElementById("navbar").style.top = "0";
            } else {
                document.getElementById("navbar").style.top = "-60px"; // Hide the navbar
            }

            prevScrollPos = currentScrollPos;
        };
    </script>

</body>
</html>
